a.sate-logo {
    display: inline-block;
    font-family: "Helvetica Neue", "Arial Narrow", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 200;
    margin: 1em;
    height: 34px;
    padding: 0;
    line-height: 1em;
    color: #333;
    text-decoration: none;
    position: relative;
}

a.sate-logo .sate-logo-nameplate {
    position: relative;
    font-weight: 100;
    font-size: 40px;
    line-height: 40px;
    color: black;
}

a.sate-logo .sate-logo-nameplate .sate-logo-a {
    position: relative;
    color: orange;
}

/* smiling eyes */
a.sate-logo .sate-logo-nameplate .sate-logo-a::before,
a.sate-logo .sate-logo-nameplate .sate-logo-a::after
{
    content: "";
    font-size: 0.1em;
    position: absolute;
    bottom: 2.5em;
    width: 0.75em;
    height: 1.5em;
    border-radius: 50%;
    border-top: orange 2px solid;
}
a.sate-logo .sate-logo-nameplate .sate-logo-a::before {
    left: 1em;
}
a.sate-logo .sate-logo-nameplate .sate-logo-a::after {
    right: 1.5em;
}

/* licking-lips */
a.sate-logo .sate-logo-nameplate::before {
    content: "";
    font-size: 0.1em;
    position: absolute;
    bottom: 2.65em;
    left: 5.5em;
    width: 2.5em;
    height: 1.75em;
    border-radius: 50%;
    border-bottom: orange 1px solid;
    z-index: 1;
}
a.sate-logo .sate-logo-nameplate::after {
    content: "";
    font-size: 0.1em;
    position: absolute;
    bottom: 3.125em;
    left: 7.2em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50% 50% 50% 0;
    background-color: orange;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

a.sate-logo .tagline {
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 1em;
    text-align: center;
    letter-spacing: 2px;
}

a.sate-logo .powered {
    font-size: 16px;
    color: orange;
}