.plugin-sate-menu,
.plugin-sate-menu ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.plugin-sate-menu li.active a
{
    font-weight: bold;
    color: black;
}

.plugin-sate-menu li a 
{
    text-decoration: none;
}

.plugin-sate-menu li
{
    margin: 0;
    padding: 0;
}

