code,
pre.cli,
pre.json,
pre.ls,
th.code,
td.code
{
    font-family: "Menlo", "Courier New", monospace;
}

pre
{
    background-color: #f6f6f6;
    padding: 0.5em 1em;
    box-shadow: #aaa 0 5px 10px;
}


.cli {
    background-color: #444;
    color: white;
    padding: 0.5em 1em;
}

.cli .line {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.cli .line::before {
    content: "My Computer:";
    color: #999;
}

.cli .line .dir-prompt {
    color: #999;
}

.cli .line .dir-prompt::after {
    content: " me$ ";
}

.type {
    display: inline-block;
    padding: 0.0625em 0.75em;
    font-size: 0.8em;
    border-radius: 0.25em;
    background-color: silver;
    color: white;
}

.type.string {
    background-color: #955;
}

.type.array {
    background-color: #595;
}

.type.object {
    background-color: #559;
}

.type.number {
    background-color: #959;
}

.type.boolean {
    background-color: #456;
}

.type.date {
    background-color: #995;
}

.type.sate {
    background-color: orange;
}

.type.page-descriptor {    
    background-color: white;
    border: blue 1px solid;
    color: blue;
}
