#pageBody.index .articles {
    margin: 0;
    padding: 0;
}

#pageBody.index .intro {
    margin-bottom: 2rem;
}

#pageBody.index .articles li.article-intro {
    list-style: none;
    margin-bottom: 2rem;
}

#pageBody.index .intro + .content > .articles:first-child,
#pageBody.index .articles li.article-intro + li.article-intro 
{
    border-top: #aaa 1px solid;
}

#pageBody.index .articles li.article-intro h3 {
    font-size: 1.2em;
    font-weight: 200;
    margin-bottom: 0;
    padding: 0 0.5rem;
}

#pageBody.index .articles li.article-intro h3 a {
    text-decoration: none;
}

#pageBody.index .articles li.article-intro .intro {
    padding: 0 0.5rem;

}

#pageBody.index .articles li.article-intro .details {
    font-size: 0.75em;
    line-height: 1.6em;
    padding: 0 0.5rem;
}

#pageBody.index .articles li.article-intro .details .date {
    display: inline-block;
    width: 48%;
    text-align: right;
    padding: 0 0.5rem;
}

#pageBody.index .articles li.article-intro a.read-more {
    display: block;
    font-size: 0.9em;
    text-align: right;
    padding: 0 0.5rem;
}

#pageBody.index .plugin-sate-breadcrumbs.article-intro-breadcrumbs {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
}

#pageBody.index .plugin-sate-breadcrumbs.article-intro-breadcrumbs a {
    font-size: 0.8rem;
}
#pageBody.index .plugin-sate-breadcrumbs.article-intro-breadcrumbs .this-page {
    display: none;
}
