@import url('masthead.css');
@import url('index-articles.css');
@import url('typography.css');
@import url('tables.css');
@import url('arrows.css');
@import url('api.css');

body {
    padding: 10px 20px;
}

#pageBody {
    padding: 0.5em 1em;
    min-height: 300px;
}

#pageBody {
    margin: 0 5rem;
}

.side-menu + #pageBody {
    margin: 0;
    margin-left: 16rem;
}

#footer {
    position: relative;
    min-height: 80px;
}

#footer .sate-logo {
    position: absolute;
    top: 0;
    right: 0;
}

#copyright {
    margin-top: 5rem;
    padding: 0.5em 1em;
    border-top: #999 1px solid;
    font-size: 0.75rem;
    color: #999;
}

.todo {
    background-color: #fd9;
    color: black;
    font-weight: bold;
    padding: 0.5em 1em;
    border: #FF7C00 1px dashed;
}

.todo::before {
    content: "@TODO:";
    color: #c70;
    font-weight: normal;
    margin-right: 0.5em;
}

.warn {
    background-color: #fcc;
    color: #c00;
    font-weight: bold;
    padding: 0.5em 1em;
    border: #c00 1px dashed;
}

.warn::before {
    content: "!!";
    color: #c00;
    font-weight: normal;
    margin-right: 0.5em;
}
