.plugin-sate-pageMenu,
.plugin-sate-pageMenu ul
{
    margin: 1em 0;
    padding: 0;
    list-style: none;
    font-size: 0.9em;
}

.plugin-sate-pageMenu.side-menu
{
    position: absolute;
}

.plugin-sate-pageMenu li
{
    margin: 0;
    padding: 0;
    margin-left: 0.9em;
}

.plugin-sate-pageMenu li.active a
{
    font-weight: bold;
    color: black;
}

.plugin-sate-pageMenu li.parent-page
{
    font-size: 0.9em;
    margin-left: 0;
}

.plugin-sate-pageMenu li a::after
{
    content: "›";
}

.plugin-sate-pageMenu li.parent-page a::before
{
    content: "‹";
}

.plugin-sate-pageMenu li a::after,
.plugin-sate-pageMenu li.parent-page a::before
{
    font-size: 1.6em;
    font-family: "Garamond";
}

.plugin-sate-pageMenu li.active::after a
{
    color: black;
}

.plugin-sate-pageMenu li.parent-page a::after,
.plugin-sate-pageMenu li.subtitle a::after
{
    content: "";
}

.plugin-sate-pageMenu li.subtitle
{
    color: #777;
    font-size: 0.9em;
    padding-top: 1em;
}

.plugin-sate-pageMenu li a 
{
    text-decoration: none;
}
