
#mainMenu {
    padding: 0.5em 1em;
    box-shadow: #bbb 0 2px 5px;
}

#mainMenu,
#mainMenu ul
{
    margin: 0;
}

#mainMenu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#mainMenu li a {
    color: black;
    text-decoration: none;
    line-height: 1em;
    white-space: nowrap;
}

#mainMenu li a:hover {
    color: orange;
}

#mainMenu > li {
    display: inline-block;
    position: relative;
    margin-right: 1em;
}

#mainMenu li > a {
    display: block;
    position: relative;
    padding: 0.25em 0.5em 0.25em 1em;
}

#mainMenu > li.active > a {
    font-weight: bold;
}

#mainMenu > li > ul {
    display: none;
}

#mainMenu > li > ul {
    display: none;
}

#mainMenu > li:hover a {
    z-index: 2;
}

#mainMenu > li:hover > ul {
    display: block;
    position: absolute;
    background-color: white;
    box-shadow: #999 0 2px 5px;
    padding: 2.5em 1em 0.5em;
    top: -0.25em;
    z-index: 1;
}


#pageMenu {
    float: left;
    width: 12em;
    margin: 2em 1em;
    padding: 0;
    width: ;
}

#pageMenu li {
    list-style: none;
}

#pageMenu li a {
    position: relative;
    display: inline-block;
    padding: 0.125em 0.5em;
    text-decoration: none;
    white-space: nowrap;
}

#pageMenu li a:hover::before {
    font-family: "Helvetica Neue", "Helvetica", "Arial Narrow", "Arial", serif;
    content: "\203A";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.5rem;
    vertical-align: middle;
    font-size: 2rem;
    font-weight: 100;
}

