ol.articles {
    margin: 0;
    padding: 0;
}

ol.articles li.article-intro {
    list-style: none;
    margin-bottom: 2rem;
}

ol.articles li.article-intro h3 {
    font-size: 1.2em;
    font-weight: 200;
    margin-bottom: 0;
}

ol.articles li.article-intro h3 a {
    text-decoration: none;
}

ol.articles li.article-intro .intro {

}

ol.articles li.article-intro .details {
    border-top: #ccc 1px solid;
    font-size: 0.75em;
    line-height: 1.6em;
}

ol.articles li.article-intro .details .crumbs {
    display: inline-block;
    width: 48%;
}

ol.articles li.article-intro .details .crumbs .seppa {
    display: inline-block;
    margin: 0 0.5em;
}

ol.articles li.article-intro .details .date {
    display: inline-block;
    width: 48%;
    text-align: right;
}

ol.articles li.article-intro a.read-more {
    display: block;
    font-size: 0.9em;
    text-align: right;
}

