body {
/*    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 1.6em;
    color: #333;
}

a {
    color: #c33;
}

a:hover {
    color: #e33;
}

a[target="_blank"] {
    position: relative;
    padding-right: 1.125em;
}

a[target="_blank"]::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    right: 0.425em;
    bottom: 0.25em;
    border: #c33 1px solid;
}

a[target="_blank"]::after {
    content: "\279E";
    position: absolute;
    display: inline-block;
    width: 1em;
    height: 0.4em;
    right: 0.125em;
    bottom: 0.45em;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 0.3em;
    background-color: white;
    color: inherit;
    -webkit-transform: translate(0, -0.26em) rotate(-45deg);
    -moz-transform: translate(0, -0.26em) rotate(-45deg);
    -ms-transform: translate(0, -0.26em) rotate(-45deg);
    transform: translate(0, -0.26em) rotate(-45deg);
}

p,
ol.articles
{
    max-width: 600px;
    padding-top: 1px;
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    margin: 1em 0;
}

table.even-rows tbody tr.even td {
    background-color: #f9f9f9;
}

th {
    font-weight: bold;
    font-size: 0.75rem;
    border-bottom: #333 2px solid;
    padding: 0.5em 0.5rem;
}

tr .l {
    text-align: left;
}

tr .c {
    text-align: center;
}

tr .r {
    text-align: right;
}

td {
    font-size: 0.9rem;
    border-bottom: #888 1px solid;
    padding: 0.5em 0.5rem;
    line-height: 1.2em;
}
