.demo,
.code-example
{
    position: relative;
    padding: 1em 0 0.5em;
    margin: 0.5em 0 1.5em;
    background-color: white;
    box-shadow: #ddd 0 1px 6px;
}

.demo {
    padding: 1em;
}

.demo p {
    margin: 1em 0;
    padding: 0;
}

td.code,
.code-example pre
{
    font-family: "Monaco", "Menlo", "Courier New", monospace;
    font-size: 0.75rem;
    font-weight: 250;
    color: black;
}

.code-example pre div.old {
    font-family: "Monaco", "Menlo", "Courier New", monospace;
    font-size: 0.75rem;
    font-weight: 100;
    color: #777;
    margin: 0;
    padding: 0;
}

.code-example.html {
    background-color: #f9f9f9;
}

.code-example.css {
    background-color: #fffff5;
}

.code-example.js {
    background-color: #f9ffff;
}

.code-example::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0.5rem;
    font-size: 0.5em;
}

.code-example.html::before {
    content: "HTML:";
    color: #444;
}

.code-example.css::before {
    content: "CSS:";
    color: #774;
}

.code-example.js::before {
    content: "JavaScript:";
    color: #477;
}

